/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1870px) {

	
}

@media only screen and (max-width: 1800px) {


	.main_block__bottom{
		padding: 15px 0 15px 450px;
	}
}

@media only screen and (max-width: 1750px) {

}

@media only screen and (max-width: 1735px) {
	/*.title_big1{
		width: 500px;
	}*/

	.title2{font-size: 38px;}

	[data-btn="btn_red"]{
		padding: 20px 40px;
	}
}

@media only screen and (max-width: 1570px) {
	/*.title_big1{
		width: 450px;
	}
	.title_sale{
		width: 250px;
		float: right;
	}*/

	.title2{font-size: 38px;}

	[data-btn="btn_red"]{
		font-size: 38px;
		padding: 15px 35px;
	}

	.main_block_present::before{
		width: 750px;
		height: 400px;
        -webkit-transform: translateX(-270px);
           -moz-transform: translateX(-270px);
            -ms-transform: translateX(-270px);
             -o-transform: translateX(-270px);
                transform: translateX(-270px);
	}
}

@media only screen and (max-width: 1550px) {
	[data-bg="index_bg"]::before{
		width: 263px;
		height: 254px;
	}

	.main_block__bottom{
		padding-left: 290px;
	}
	.list1{font-size: 30px;}
		.list1 li{line-height: 3;}

	.al_center.mb100{margin-bottom: 50px;}

	.main_block_wrap{
		padding-bottom: 120px;
		overflow: hidden;
	}


}

@media only screen and (max-width: 1565px) {
	.title2{font-size: 30px;}

	/*.title_big1{
		width: 400px;
	}*/
}
@media only screen and (max-width: 1490px) {
	.main_block_present::before{
		width: 620px;
		height: 320px;
        -webkit-transform: translateX(-200px);
           -moz-transform: translateX(-200px);
            -ms-transform: translateX(-200px);
             -o-transform: translateX(-200px);
                transform: translateX(-200px);
	}

	/*.title_info {width: 300px;}*/

	.main_block__content{
		padding: 25px 61% 0 35px;
	}

	[data-btn="btn_red"]{
		margin-bottom: 20px;
	}

	.main_block__bottom .btn{
		font-size: 25px;
		margin-left: 0;
		padding: 15px 20px;
	}
	.list1 li{line-height: 2.1;}
}

@media only screen and (max-width: 1380px) {

	.title_big1{
		width: 355px;
	}

	[data-bg="index_bg"]::after,
	[data-bg="home_bg"]::after{
		width: 59%;
	}
	.main_block__content{
		padding: 25px 55% 0 35px;
	}
}

@media only screen and (max-width: 1291px) {
	.list1{
		font-size: 24px;
	}
	.list1 li{line-height: 2.7;}
		.list1 li:not(:last-child)::after{height: 18px;}

}

@media only screen and (max-width: 1280px) {
	
}

@media only screen and (max-width: 1200px) {
	[data-btn="btn_red"]{
		font-size: 30px;
		padding: 12px 18px;
	}

	.main_block::before{
		width: 270px;
		height: 250px;
	}

	.main_block__bottom{padding-left: 270px;}


	.title_big1{
		width: 320px;
	}
	.title2{font-size: 26px;}


	.main_block__content {
	    padding: 25px 48% 0 35px;
	}
	[data-bg="index_bg"]::after ,
	[data-bg="home_bg"]::after{
	    width: 49%;
	}

	.main_block_present::before{
        -webkit-transform: translateX(-125px);
           -moz-transform: translateX(-125px);
            -ms-transform: translateX(-125px);
             -o-transform: translateX(-125px);
                transform: translateX(-125px);
	}
}

@media only screen and (max-width: 1140px) {
	.link{
		font-size: 40px;
		padding-left: 0;
	}

	.main_block_present::before{
		width: 500px;
		height: 280px;
        -webkit-transform: translateX(40px);
           -moz-transform: translateX(40px);
            -ms-transform: translateX(40px);
             -o-transform: translateX(40px);
                transform: translateX(40px);
	}
}

@media only screen and (max-width: 1060px) {
	.main_block::before{
		width: 220px;
		height: 200px;
	}
	.main_block__bottom{padding-left: 220px;}
}


@media only screen and (max-width: 1024px) {
	.al_center.mb100{margin-bottom: 20px;}

	.main_block__bottom .btn{
		font-size: 20px;
		padding: 10px 20px;
	}
	.list1 li{line-height: 2;}


	body{-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;}
	.title2{font-size: 40px;}
	[data-btn="btn_red"]{
		padding: 25px 35px;
	}
}

@media only screen and (max-width: 995px) {
body{min-width:768px;}

	.title2{font-size: 30px;}
	[data-btn="btn_red"]{
		padding: 15px 25px;
	}
	.main_block_wrap{
		padding: 28% 0 90px;
		background: url(../images/bg2.png) 0 0 no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
		[data-bg="index_bg"]::after{
			width: auto;
			height: 28%;
			bottom: auto;
			left: -60px;
			right: 0;
			background-position: center 5%;
			
		}
	.main_block_wrap[data-bg="home_bg"]{
		padding: 38% 0 20px;
	}
		[data-bg="home_bg"]::after{
			width: auto;
			height: 38%;
			bottom: auto;
			left: -135px;
			right: 0;
			background-position: center 35%;
			
		}

		[data-bg="home_bg"]::before{
			top: 147px;
			width: 400px;
			height: 440px;
			bottom: auto;
			left: 0;
			z-index: 45;
	        -webkit-transform: translateX(0px);
	           -moz-transform: translateX(0px);
	            -ms-transform: translateX(0px);
	             -o-transform: translateX(0px);
	                transform: translateX(0px);
			background: url(../images/pizza_box2.png) 0 0 no-repeat;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}
		.resp_abs_title{
			position: absolute;
			width: 190px;
			height: 115px;
			top: 10px;
			right: 12px;
			z-index: 45;
			background: url(../images/title_min2.png) 0 0 no-repeat;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
		}
	
	.main_block__content{
		width: 100%;
		/*margin-top: -60px;*/
		position: relative;
		padding: 0 15px;
	}
		.main_block__content::before{
			content: "";
			top: -95px;
			left: 0;
			right: 0;
			height: 80px;
			/*width: 100%;*/
			z-index: 35;
			position: absolute;
			background: url(../images/resp_bef.png) 0 0 no-repeat;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}

		[data-bg="home_bg"] .main_block__content::before{top: -85px;}

	.main_block_present .main_block__img{
		float: none;
		width: 100%;
		background: url(../images/img_min2.jpg) 0 0 no-repeat;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
		
	}

	.title_big1{
		width: auto;
		height: 80px;
		background: url(../images/title_min1.png) 100% 0 no-repeat;
	}
		.title_big1 img{opacity: 0;}

		.main_block .title2{
			text-align: right;
		}

	[data-bg="index_bg"]::before{
		top: 25%;
		width: 160px;
		height: 375px;
		z-index: 40;
		background: url(../images/pizza.png) 0 0 no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}

	.main_block__bottom{
		z-index: 30;
		padding-left: 15px;
		background: none;
	}

	[data-btn="btn_red"]{
		font-size: 28px;
		padding: 17px 37px;
		margin-bottom: 25px;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
	}

		.main_block__bottom .btn{display: none;}

	.list1{width: 100%;}
	.list1 li:not(:last-child)::after{
		height: 15px;
		padding-left: 28px;
		background: url(../images/arrow_min.png) 100% 0% no-repeat;
	}
	
	.title_sale{
		height: 100px;
		background: url(../images/title_sale2.png) center center no-repeat;
	}
		.title_sale img{opacity: 0;}


	.main_block_present .title_big1{display: none;}
	.title_info{
		text-align: right;
		margin-bottom: 20px;
		/*margin-bottom: 100px !important;*/
	}
	[data-bg="home_bg"] .title_info{
		height: 180px;
	}
		[data-bg="home_bg"] .title_info img{max-height: 100%;}

	.main_block_present,
	.main_block_present .mb50{
		text-align: center;
	}
	.main_block_present .mb50{
		margin-bottom: 20px;
		position: relative;
		z-index: 50;
	}


	.main_block__bottom{
		bottom: -90px;
		position: absolute;
	}


	body{
		background: url(../images/bg2.png) 0 0 no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
} 

@media only screen and (max-width: 967px) {
	.main_block__content{
		/*margin-top: -45px;*/
	}
		.main_block__content::before{
			top: -80px;
		}
}

@media only screen and (max-width: 883px) {
	.main_block__content{
		margin-top: 5px;
	}
}

@media only screen and (max-width: 867px) {
	.main_block_wrap{
		padding: 30% 0 90px;
	}
}

@media only screen and (max-width: 850px) {
	[data-bg="home_bg"]::before{
		/*top: 147px;*/
		width: 300px;
		height: 350px;
	}
}

@media only screen and (max-width: 808px) {
	.main_block_wrap{
		padding: 34% 0 90px;
	}
}

@media only screen and (max-width: 768px) {
body{min-width:420px;}
	[data-btn="btn_red"]{
		padding: 13px 27px;
	}
	.main_block__content{
		margin-top: 0px;
	}
		.main_block__content::before{
			top: -79px;
		}

	.main_block_wrap{
		padding: 280px 0 90px;
	}
		[data-bg="index_bg"]::after,
		[data-bg="home_bg"]::after{height: 280px;}

}

@media only screen and (max-width: 723px) {
	.main_block__content::before {
	    top: -78px;
	}
}

@media only screen and (max-width: 723px) {
	.main_block__content::before {
	    top: -77px;
	}
}

@media only screen and (max-width: 723px) {
	.main_block__content::before {
	    top: -75px;
	}
}

@media only screen and (max-width: 700px) {
	

	.main_block__content::before {
	    top: -75px;
	}

	[data-bg="home_bg"] .main_block__content::before{top: -80px;}
}

@media only screen and (max-height: 699px){
	html{height: auto;}
}


@media only screen and (max-width: 685px) {
	.main_block__content::before {
	    top: -73px;
	}
}

@media only screen and (max-width: 667px) {
	.main_block__content::before {
	    top: -71px;
	}
}

@media only screen and (max-width: 655px) {
	[data-bg="home_bg"] .main_block__content::before{
		top: -66px;
	}
	[data-bg="home_bg"] .main_block__content{padding-top: 10px;}

	.main_block__content::before {
	    top: -71px;
	}
}

@media only screen and (max-width: 649px) {
	.main_block__content::before {
	    top: -69px;
	}
}

@media only screen and (max-width: 624px) {
	[data-bg="home_bg"] .main_block__content::before{
		top: -61px;
	}
}

@media only screen and (max-width: 622px) {

	.list1 li{
		width: 29%;
		padding: 0 10px;
		line-height: 1.2;
		text-align: left;
		display: inline-block;
		
	}
		.list1 li:not(:last-child)::after{height: 27px;}
		.list1 li br{display: block;}

	.title_sale{
		background-position: left center;
	}
	
	[data-bg="index_bg"]::before{
		top: 170px;
		width: 123px;
		height: 290px;
	}

	.title_info{
		width: 270px;
	}

	.main_block__content::before {
	    top: -67px;
	}

	[data-bg="home_bg"] .main_block__content{padding-top: 20px;}
}


@media only screen and (max-width: 615px) {
	[data-bg="home_bg"] .main_block__content::before{
		top: -53px;
	}

	[data-bg="home_bg"]::before{
		width: 250px;
		height: 270px;
	}
}


@media only screen and (max-width: 612px) {
	.main_block__content::before{
		top: -63px;
	}
}

@media only screen and (max-width: 595px) {
	[data-bg="home_bg"] .main_block__content::before{
		top: -45px;
	}
}

@media only screen and (max-width: 585px) {

	[data-bg="home_bg"] .main_block__content::before{
		top: -35px;
	}
}

@media only screen and (max-width: 575px) {
	.main_block__content::before {
	    top: -60px;
	}
}


@media only screen and (max-width: 550px) {
	.list1{font-size: 18px;}
		/*.list1 li{width: 31%;}*/
			.list1 li:not(:last-child)::after{
				padding-left: 15px;
			}
	

	[data-bg="index_bg"]::before{
		top: 130px;
	}


	.main_block__content::before{
		display: none;
	}
	[data-bg="index_bg"]::after{
		background-image: url(../images/img_min1.jpg);
		background-position: center bottom;
		height: 300px;
		left: 0;
		width: 100%;
	}

	[data-bg="home_bg"]::after{
		background-image: url(../images/img_min2.jpg);
		background-position: center bottom;
		height: 300px;
		left: 0;
		width: 100%;
	}
	.main_block_wrap[data-bg="home_bg"]{
		padding: 340px 0 20px;
	}
		.main_block_wrap[data-bg="home_bg"]::after{height: 360px;}

		.main_block_wrap[data-bg="home_bg"]::before{
			width: 305px;
			height: 307px;
		}
	.main_block_wrap{
		padding: 300px 0 90px;
	}

}

@media only screen and (max-width: 522px) {
	.main_block_wrap[data-bg="home_bg"]::before{
		width: 280px;
	}
}

@media only screen and (max-width: 500px) {

	.title_info{width: 145px;}

	.main_block_present .link{
		font-size: 21px;
	}

	.main_block_present .btn{
		font-size: 24px;
	}

	.main_block_present .mb50{margin-bottom: 30px ;}

}

@media only screen and (max-width: 480px) {
body{min-width:300px;}
	.main_block__info .title2{line-height: 1.2;}
		.main_block__info .title2 br{
			display: block;
		}

	.main_block__info{
		margin-top: -35px;
		padding-top: 25px;
	}

	.al_center.mb100{margin-bottom: 0;}
	.title_sale{margin-bottom: 15px;}


	.list1 li{
		width: 32%;
		padding: 0;
	}	
		.list1 li:not(:last-child)::after{
			padding-left: 25px;
			margin-top: 0;
			margin-right: -5px;
		}
		.list1 li:not(:last-child)::after{height: 17px;}

	.title_big1{
		margin-bottom: 15px;
	}

	[data-bg="index_bg"]::after{
		height: 350px;
	}
	.main_block_wrap{
		padding: 350px 0 90px;
	}

	[data-bg="home_bg"] .title_info{height: 130px;}

	.main_block_wrap[data-bg="home_bg"]::before{
		top: 170px;
		width: 240px;
		height: 250px;
	}
}

@media only screen and (max-width: 380px) {
	.main_block_wrap[data-bg="home_bg"]::before{
		top: 220px;
		width: 190px;
		height: 200px;
	}
	[data-bg="home_bg"] .title_info{height: 110px;}

	.resp_abs_title{
		width: 158px;
		height: 95px;
	}
}

@media only screen and (max-width: 360px) {
	
	.list1 li:not(:last-child)::after{
		padding-left: 5px;
	}

	[data-bg="index_bg"]::after{
		height: 260px;
	}
	.main_block_wrap{
		padding: 260px 0 90px;
	}
}

