@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=cyrillic,cyrillic-ext');
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {
  width:100%;
  height: 100%;
  }

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size:18px;
  height: 100%;
  color: #666;
  min-width:960px;
  background: #000 url(../images/bg.png) 0% 0% no-repeat;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
  a {
    color: #F9CE5C;
    outline:none;
    text-decoration:none;
    cursor:pointer;
  }
  a:hover{
    color: #F9CE5C;
    text-decoration:none;
  }

  .btn{
    display:inline-block;
    line-height: 1.2;
    cursor: pointer;
   }
  .btn:hover{
    color:#000;
  }

  [data-btn^="btn_"]{
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
  }
    
    [data-btn="btn_red"],
    [data-btn="btn_red"]:hover{ color: #fff;}
    [data-btn="btn_red"]{
      font-size: 48px;
      background-color: #DD1A32;
      padding: 29px 46px;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      -webkit-box-shadow: 0px 5px 0 #840702;
              box-shadow: 0px 5px 0 #840702;
    }

    [data-btn="btn_red_min"],
    [data-btn="btn_red_min"]:hover{ color: #fff;}
    [data-btn="btn_red_min"]{
      font-size: 32px;
      background-color: #DD1A32;
      padding: 21px 30px;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      -webkit-box-shadow: 0px 5px 0 #840702;
              box-shadow: 0px 5px 0 #840702;
    }

  .link{
    font-weight: bold;
    font-size: 46px;
    padding-left: 40px;
    text-decoration: underline;
  }
  .link:hover{text-decoration: none;}
  [data-link="yellow"]{
    color: #F9CE5C;
  }

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/
  [data-color="yellow"]{color: #F9CE5C;}

/*======================> Header <======================*/


/*=====================> Content ========================*/
[data-bg="index_bg"]{position: relative;}
  [data-bg="index_bg"]::after{
    content: "";
    width: 64%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/img_big1.png) 0% 0 no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }

  [data-bg="index_bg"]::before{
    content: "";
    left: 0;
    bottom: 0;
    z-index: 20;
    width: 455px; /*123*/
    height: 430px; /*290*/
    position: absolute;
    background: url(../images/pizza_big.png) 50% 50% no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }

  /*[data-bg="index_bg"]*/
  [data-bg="home_bg"]{position: relative;}
    [data-bg="home_bg"]::after{
      content: "";
      width: 64%;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background: url(../images/img_big2.png) 0% 0 no-repeat;
      -webkit-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
    }
    .main_block_present::before{
      content: "";
      width: 880px;
      height: 450px;
      left: 50%;
      bottom: 0;
      z-index: 35;
      position: absolute;
      -webkit-transform: translateX(-400px);
         -moz-transform: translateX(-400px);
          -ms-transform: translateX(-400px);
           -o-transform: translateX(-400px);
              transform: translateX(-400px);
      background: url(../images/pizza_box.png) 50% 100% no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
    }


/*----------   MAIN   --------*/
  .main_block_wrap{
    height: 100%;
    display: flex;
    padding-bottom: 175px;
    -webkit-align-items: stretch;
            align-items: stretch;
  }

  .main_block_present{
    display: flex;
    height: 100%;
    
    -webkit-align-items: stretch;
            align-items: stretch;
  }

    .main_block__content{
      display: flex;
      padding: 50px 61% 0 70px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-align-content: stretch;
              align-content: stretch;
    }
      .title_big1,
      .main_block__info,
      .title_info,
      .title_sale{
        width: 100%;
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
      }
      .main_block__img img{
        max-width: 100%;
      }
        .title_big1 img,
        .title_sale img,
        .title_info img{
          max-width: 100%;
        }
      .main_block__info .title2 br{display: none;}

    .main_block__bottom{
      padding: 40px 0;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      padding: 35px 0 35px 550px;
      position: fixed;
      background-color: rgba(0, 0, 0, .6);
    }
      .main_block__bottom .btn{margin-left: 20px;}


/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}
  .mb90{ margin-bottom: 90px;}
  .mb95{ margin-bottom: 95px;}

  .mb100{ margin-bottom: 100px;}


/*=====================> Lists ========================*/
  .list1{
    font-size: 36px;
    display: inline-block;
  }
    .list1 li{
      line-height: 2.3;
      color: #B7B9B8;
      font-weight: bold;
      position: relative;
      padding-right: 16px;
      display: inline-block;
      text-transform: uppercase;
    }
      .list1 li:not(:last-child)::after{
        content: "";
        width: 23px;
        height: 25px;
        margin-top: -5px;
        padding-left: 15px;
        display: inline-block;
        background: url(../images/arrow.png) 100% 50% no-repeat;
      }
      .list1 li br{display: none;}

/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title1{
    /*font-size: 54px;*/
    line-height: 1.1;
  }

  .title2{
    font-size: 46px;
    line-height: 1.5;
  }

  .title3{
    /*font-size: 32px;*/
    line-height: 1.5;
  }

  .bold{font-weight: bold;}
  

/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }

/*================================>> Contact Form <<========================================*/
  

/*================================>> Footer <<========================================*/
  footer {}
